<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Iniciando Pug
    body

    // Esto es un comentario

    // Esto es un comentario 
        de varias lineas
    
    //- Esto es un comentario solo de Pug

    //- Esto es un comentario 
        solo de Pug de varias lineas
    
    // Añadiendo contenido

    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam repellendus nam neque. Iste eaque ipsam molestiae quasi officiis deleniti provident, dolores hic nam et, veniam dicta illo blanditiis, cupiditate fugiat?


    p 
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        | Nesciunt non fugit repellendus cupiditate error eligendi totam, ipsum neque, deleniti, 
        | Quaerat dignissimos consequatur minus sint qui cumque suscipit fugiat reiciendis sequi.

    //-ATAJO: añadiendo contenido en varias lineas más escueto con [.]

    p. 
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Nesciunt non fugit repellendus cupiditate error eligendi totam, ipsum neque, deleniti, 
        Quaerat dignissimos consequatur minus sint qui cumque suscipit fugiat reiciendis sequi.

    // Elementos inline

    p Ejemplos de 
        b Pug

    h1 Ejemplos de 
        i Pug
    p Pug es un 
        b lenguaje de plantillas 
        | basado en JS

    p Pug es un <b>lenguaje de plantillas</b> basado en JS