<!DOCTYPE html>
html(lang="idioma")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title titulo
    body
        h1 Pug avanzado.

        //- Lógica mediante JS

        -let nombre = 'Pepe'
        //-let nombre = 'Maria'
        -if (nombre == 'Pepe'){
            p Hola otra vez, Pepe
        - } else {
            p Hola #{nombre}, ¿Donde está Pepe?
        - }

        //- Lógica nativa (build-in) Pug

        //- nombre = 'Pepe'
        - nombre = 'Maria'
        if (nombre == 'Pepe')
            p Hola otra vez, Pepe
        else 
            p Hola #{nombre}, ¿Donde está Pepe?
        