*{
    box-sizing: border-box;
}

body{
    margin: 2rem;

}

.control_group{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

}

.textarea-group{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    
}
testarea{
    width: 10rem;
    height: 10rem;
}