body{
	font: 3rem sans-serif;
	background-color: rgba(0,0,0,.2);
	color: white;
}
.grid-item:nth-child(2n){
	background-color: rgb(10, 103, 146);
}
.grid-item:nth-child(2n+1){
	background-color: #37A8E0;
}
.grid-container{
	padding: 1rem;
}
.grid-item{
	padding: 1.5rem;
	border-radius: 1rem;
}

/* GRID ************************/
.grid-container {
    display: grid;
    grid-gap: 1rem;
}

.grid-container {
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-template-rows:  repeat(2, 10vh 15vh) ;
    grid-auto-rows: 12vh;
}

.grid-container :nth-child(1){
    background: salmon;
}