body{
	font: 1rem sans-serif;
	background-color: rgba(0,0,0,.2);
	color: white;
}
.grid-item:nth-child(2n){
	background-color: rgb(10, 103, 146);
}
.grid-item:nth-child(2n+1){
	background-color: #37A8E0;
}
.grid-container{
	padding: 1rem;
}
.grid-item{
	padding: 1.5rem;
	border-radius: 1rem;
}

/* GRID CONTAINER ************************/

.grid-container {
    display: grid;
    grid-gap: 1rem;
}

.grid-container {
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    /* grid-template-columns: [start] repeat(3, minmax(10rem, 1fr)) [end]; tambien podemos poner nombre alternativo al numero con start y end entre corchetes*/
    grid-template-rows:  repeat(2, 10vh 15vh) ;
    grid-auto-rows: 12vh;
}

/* GRID ITEMS ************************/

.grid-container :nth-child(1){
    background: salmon; /* <--- para que veamos donde estamos */
    /*grid-column: 2/4;  igual que abajo en comentario
    grid-column-start: 2;
    grid-column-end: 4; */
    GRID-COLUMN:2/span 2; /* empieza en la dos y extiendete dos */

}

.grid-container :nth-child(3){
    background: crimson; 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2/4; /* igual que abajo en comentario
    grid-row-start: 2;
    grid-row-end: 4; */
}

.grid-container :nth-child(2){
    background: deeppink; 
    grid-column: 3/4;
    grid-row: 2/4;
}

.grid-container :nth-child(4){
    background: darkslateblue;
    grid-column: 3/4;
    grid-row: 2/4;
    opacity: 0.6; /* Para ver que lo hemos colocado encima del 2 */
}